<% layout('layouts/boilerplate') %>
    <section class="admin">
        <div class="container">

            <h1 class="admin__title">All Films</h1>

            <% for(let film of films){ %>

                <div class="admin__section">
                    <h3 class="admin__title--medium">
                        <%= film.title %>
                    </h3>
                    <div class="admin__links">
                        <a class="admin__link admin__link--bg" href="/films/<%= film.titleSlug %>">View</a>
                        <a class="admin__link admin__link--bg" href="/films/<%= film.titleSlug %>/edit">Edit</a>
                        <form action="/films/<%= film.titleSlug %>?_method=DELETE" method="POST">
                            <button class="admin__link admin__link--bg">Delete</button>
                        </form>
                    </div>

                </div>

                <% } %>

        </div>
    </section>