<% layout('layouts/boilerplate') %>
    <section class="admin">
        <div class="container">

            <h1 class="admin__title">Admin Panel</h1>

            <div class="admin__section">
                <h3 class="admin__title--medium"><span class="admin__underline">Films</span></h3>
                <div class="admin__links">
                    <a class="admin__link" href="/admin/films">All Films</a>
                    <a class="admin__link" href="/films/new">New Film</a>
                </div>
            </div>

            <div class="admin__section">
                <h3 class="admin__title--medium"><span class="admin__underline">Members</span></h3>
                <div class="admin__links">
                    <a class="admin__link" href="/admin/members">All Members</a>
                </div>
            </div>

        </div>
    </section>