<% layout('layouts/boilerplate') %>
    <section class="admin">
        <h1 class="admin-h1">Admin Panel</h1>
        <div class="admin-container">
            <div class="admin-section">
                <h3 class="admin-section-h3">Films</h3>
                <a class="admin-section-a" href="/admin/films">All Films</a>
                <a class="admin-section-a" href="/films/new">New Film</a>
            </div>
            <div class="admin-section">
                <h3 class="admin-section-h3">Members</h3>
                <a class="admin-section-a" href="/admin/members">All Members</a>
            </div>
        </div>
    </section>