<footer class="footer">
    <div class="footer-container">
        <div class="footer-wrapper">
            <span class="text-light">&copy; iCinema 2023</span>
        </div>
        <div class="footer-wrapper">
            <a href="/">Home</a>
            <a href="/admin">Admin Panel</a>
        </div>
    </div>
</footer>