<footer class="footer hidden-bottom">
    <div class="container footer__flex">
        <span class="text-light">&copy; iCinema 2023</span>
        <div class="footer__wrapper">
            <a href="/" class="footer__link">Home</a>
            <a href="/admin" class="footer__link">Admin Panel</a>
        </div>
    </div>
</footer>