<header>
    <div class="container row">
        <div class="align-center">
            <button class="nav-toggle" aria-label="open navigation">
                <span class="nav-toggle__hamburger"></span>
            </button>
            <a href="/" class="nav__logo">iCINEMA</a>
        </div>
        <nav class="nav">
            <ul class="nav__list nav__list--primary">
                <li class="nav__item"><a href="/films" class="nav__link">Films</a></li>
            </ul>
            <ul class="nav__list nav__list--secondary">
                <% if(!currentUser){ %>
                    <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
                    <% } else { %>
                        <li class="nav__item"><a href="/u/<%= currentUser.id %>" class="nav__link">
                                <%= currentUser.username %>
                            </a></li>
                        <li class="nav__item"><a href="/u/<%= currentUser.id %>/edit" class="nav__link">Edit Profile</a>
                        </li>
                        <li class="nav__item"><a href="/u/<%= currentUser.id %>/bookings" class="nav__link">View
                                Bookings</a>
                        </li>
                        <li class="nav__item"><a href="/logout" class="nav__link">Logout</a></li>
                        <% } %>
            </ul>
        </nav>
    </div>
</header>

<script>
    const navToggle = document.querySelector('.nav-toggle');
    const nav = document.querySelector('.nav');


    navToggle.addEventListener('click', () => {
        nav.classList.toggle('nav--visible');
    })
</script>