<nav class="nav">
    <div class="nav-container">
        <a href="/" class="nav-logo">iCINEMA</a>
        <div class="nav-menu">
            <a href="/films" class="nav-link">Films</a>
            <a href="#" class="nav-link">Cinemas</a>
            <a href="#" class="nav-link">Bookings</a>
            <a href="#" class="nav-link">Members Area</a>


            <% if(!currentUser){ %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <% } else { %>
                    <a href="#" class="nav-link">
                        <%= currentUser.username %>
                    </a>
                    <a class="nav-link" href="/u/<%= currentUser._id %>">View Profile</a>
                    <a class="nav-link" href="/u/<%= currentUser._id %>/edit">Edit Profile</a>
                    <a href="/logout" class="nav-link">Logout</a>
                    <% } %>
        </div>
    </div>
    <div class="nav-hamburger">
        <span class="nav-hamburger-bar"></span>
        <span class="nav-hamburger-bar"></span>
        <span class="nav-hamburger-bar"></span>
    </div>
</nav>

<script>
    const hamburger = document.querySelector(".nav-hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    });
</script>