<nav class="nav">
    <div class="nav-container">
        <a href="/" class="nav-logo">iCINEMA</a>
        <div class="nav-menu">
            <a href="/films" class="nav-link">Films</a>


            <% if (!currentUser) { %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <% } else { %>
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%= currentUser.username %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/u/<%= currentUser._id %>">View Profile</a>
                        <a class="dropdown-item" href="/u/<%= currentUser._id %>/edit">Edit Profile</a>
                        <a href="/u/<%= currentUser._id %>/bookings" class="dropdown-item">View Bookings</a>
                        <a href="/logout" class="dropdown-item">Logout</a>
                    </div>
                    <% } %>

        </div>
    </div>
    <div class="nav-hamburger">
        <span class="nav-hamburger-bar"></span>
        <span class="nav-hamburger-bar"></span>
        <span class="nav-hamburger-bar"></span>
    </div>
</nav>

<script>
    const hamburger = document.querySelector(".nav-hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    });
</script>