<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100;300;400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css//stylesheetReset.css">
    <link rel="stylesheet" href="/css//main.css">
    <link rel="stylesheet" href="/css//scrollAnimations.css">

    <title>iCinema</title>
</head>

<body>
    <%- include('../partials/navbar') %>
        <%- include('../partials/flash') %>
            <%-body -%>
                <%- include('../partials/footer') %>

                    <script src="/js/scrollAnimations.js"></script>
</body>

</html>