:root {
  /* Colours */
  --clr-bg: #000000;
  --clr-primary: #00ffff;
  --clr-secondary: #39ff14;
  --clr-accent: #800080;
  --clr-white: #ffffff;
  --clr-gray-dark: #001c1c;

  /* Font - Logo */
  --font-logo: "Audiowide", san-serif;

  /* Font */
  --font-main: "Roboto", san-serif;

  /* Box Shadow */
  --box-shadow: box-shadow: -3px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-bg);
  font-family: var(--font-main);
  font-size: 1.125rem;
  color: var(--clr-white);
}

header {
  background-color: var(--clr-bg);
  border-bottom: 2px solid var(--clr-accent);
}

select {
  background: transparent;
  background-color: var(--clr-gray-dark);
  // border-bottom: 2px solid white;
}

select[multiple] {
  overflow-y: auto;
}

textarea {
  max-width: 100%;
  min-height: 10rem;
  box-shadow: inset -1px 1px 4px 2px var(--clr-bg);
  padding: 0.25em 0.5em;
}

input[type="checkbox"] {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: white;

  &:hover {
    opacity: 0.75;
  }
}

input[type="checkbox"]:checked {
  display: block;
  margin: 2px;
  background-color: var(--clr-accent);
}

/*
** TYPOGRAPHY **
**************/

.title {
  &--medium {
    font-size: 1.75rem;
    letter-spacing: 2px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-transform: uppercase;
  }

  &--large {
    font-size: 2.75rem;
    letter-spacing: 3px;
    padding-top: 1em;
    text-transform: uppercase;
    // margin-bottom: 0;
    line-height: 1.1;
  }
}

/***********
** lAYOUT **
***********/

.container {
  max-width: 80%;
  margin: 0 auto;

  @media (min-width: 1100px) {
    max-width: 60%;
  }

  // setting for nav-toggle position
  position: relative;
}

.row {
  &__mobile {
    display: flex;
    // justify-content: space-between;

    &--end {
      justify-content: flex-end;
    }
  }

  &__column {
    flex-direction: column;
  }
}

.col {
  width: 100%;

  &__promo {
    padding-bottom: 2em;
  }
}

/**************************/
/** REUSEABLE COMPONENTS **/
/************************/

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  padding: 0.5em 0.75em;
  align-self: flex-end;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &--medium {
    font-size: 1.2em;
  }
}

/***********
** NAVBAR **
***********/

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  transition: 600ms ease-in;
}

.nav {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    visibility: hidden;
    height: 0;

    list-style: none;

    &--visible {
      visibility: visible;
      height: auto;
      text-align: center;
      list-style: none;
      font-size: 1em; 
    }

    &--primary {
      padding-bottom: 1em;
    }
  }

  &__item {
    margin-bottom: 0.75em;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-white);

    &:hover {
      opacity: 0.75;
    }

    &--logo {
      font-family: var(--font-logo);
      font-size: 2.5rem;
      color: var(--clr-primary);
      text-decoration: none;
      padding: 0.25em 0;
    }
  }

  &-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--clr-primary);
    color: var(--clr-accent);
    transition: opacity 600ms ease;

    &:focus,
    &:hover {
      opacity: 0.75;
    }

    &__hamburger {
      width: 50%;
      position: relative;

      &,
      &::before,
      &::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: var(--clr-accent);
      }

      &::before,
      &::after {
        content: "";
        width: 100%;
      }

      &::before {
        transform: translateY(-6px);
      }

      &::after {
        transform: translateY(3px);
      }
    }
  }

  @media (min-width: 800px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      width: 100%;
      visibility: visible;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--primary {
        padding: 0;
      }

      &--secondary {
        display: flex;
      }
    }

    &__link {
      font-size: 1rem;
      margin-left: 1em;
    }

    &-toggle {
      display: none;
    }
  }
}

/***********************/
/**** INDEX STYLES ****/
/*********************/

.media-scroller {
  display: grid;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 80%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  background-color: var(--clr-bg);
  scroll-behavior: smooth;

  @media (min-width: 800px) {
    gap: 4em;
    grid-auto-columns: 50%;
  }

  &::before,
  &::after {
    content: "";
  }

  &::-webkit-scrollbar {
    width: 0.25vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-accent);
    border-radius: 10em;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--clr-bg);
    border-bottom: 2px solid var(--clr-secondary);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, var(--clr-bg), var(--clr-secondary));
    border-image-slice: 1;
    border-right: 2px solid var(--clr-secondary);

    padding: 0.25em;

    @media (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__element {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: min-content;
    background: var(--clr-bg);

    margin: 5em 0;
  }

  &__image {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__title {
    font-size: 2rem;
    padding: 0.25em 0;
  }

  &__snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-left: 10%;

    @media (min-width: 1100px) {
      scroll-padding-left: 20%;
    }

    & > * {
      scroll-snap-align: start;
    }
  }
}

.promo {
  background-color: var(--clr-white);
  padding: 5em 0;
  text-align: center;

  &__col {
    padding-bottom: 2em;
    width: 100%;
  }

  &__title {
    font-size: 2rem;
    color: var(--clr-bg);
    margin-top: 1em;
  }

  &__text {
    font-size: 1.125rem;
    letter-spacing: 3px;
    color: var(--clr-accent);
    padding: 1em 0;
    margin-bottom: 1em;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-bg);
    background-color: var(--clr-secondary);
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}

.top-films {
  text-align: center;

  &__image {
    aspect-ratio: 16/9;
    // margin-bottom: 1.5em;
  }

  &__title {
    text-align: left;
    margin-bottom: 2em;
  }

  &__link {
    text-decoration: none;
    color: var(--clr-white);

    &:hover {
      opacity: 0.75;
    }
  }
}

/***************************/
/**** ALL FILMS STYLES ****/
/*************************/

.all-films {
  padding-bottom: 2em;

  &--black-bg {
    background-color: var(--clr-bg);
  }

  &--gray-bg {
    background-color: var(--clr-gray-dark);
  }

  &__text {
    // padding: 1em 0;
    padding-top: 1em;

    &--bg {
      color: var(--clr-bg);
      background-color: var(--clr-primary);
      font-size: 1rem;
      line-height: 1;
      padding: 0.25em 0.75em;
      border-radius: 10em;
      margin-bottom: 0.25em;
      margin-right: 0.5em;
    }

    &--mr {
      margin-right: 0.5em;
    }
  }

  &__image {
    aspect-ratio: 16/9;
  }

  &__genres,
  &__data {
    width: 30%;
    flex-wrap: wrap;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 2em;

    &--bg {
      color: var(--clr-primary);
      background-color: var(--clr-accent);
      font-size: 1rem;
      letter-spacing: 1px;
      padding: 0em 1.25em;
      display: inline-block;
      border: 2px solid var(--clr-primary);
      border-bottom: none;
    }
  }
}

/**************************************/
/**** INDIVIDUAL FILM PAGE STYLES ****/
/************************************/

.film {
  padding-bottom: 2em;

  &__row {
    display: flex;
  }

  &__title {
    color: var(--clr-secondary);
    text-shadow: 2px 2px 4px var(--clr-accent);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 0.25em 0;
  }

  &__image {
    align-self: flex-start;
    aspect-ratio: 16/9;
  }

  &__data,
  &__genre,
  &__button {
    display: flex;
    margin-bottom: 2em;
  }

  &__data {
    & p {
      padding-right: 1em;
    }
  }

  &__genre {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__button-a {
    font-size: 1.5rem;
    padding: 0.5em 1.5em;
    color: var(--clr-accent);
    background-color: var(--clr-primary);

    &:hover {
      opacity: 0.75;
    }
  }

  &__text {
    &--bg {
      padding: 0.25em 0.5em;
      color: var(--clr-bg);
      background-color: var(--clr-white);
      border-radius: 10em;
      margin-left: 1em;
      margin-bottom: 0.25em;
      line-height: 1;
    }
  }
}

.reviews-bookings {
  background: var(--clr-gray-dark);
}

.reviews {
  background: var(--clr-gray-dark);
  padding: 0.25em 0;

  &--light {
    background-color: #002c2c;
    padding: 0.5em;
    margin-bottom: 2em;
  }

  &__text {
    padding: 0.5em 0;
  }

  &__link {
    color: var(--clr-secondary);
  }
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002c2c;
  padding: 1em 0;

  &__row {
    padding: 0 3em;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  &__title {
    font-size: 1.4rem;
  }

  &__button {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    border-radius: 10em;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__counter {
    padding: 0 0.5em;
  }
}

.forms {
  min-height: 100vh;
  padding: 2em 0;

  background-color: var(--clr-gray-dark);

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    &.success .forms__input {
      border-color: var(--clr-secondary);
    }

    &.error .forms__input {
      border-color: var(--clr-accent);
    }
  }

  &__label {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 0.25em;

    &-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: #2196f3;

          &:after {
            display: block;
          }
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
    }

    & .checkmark::after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__input {
    font-size: 1.125rem;
    border: 2px solid lightblue;
    display: block;
    padding: 0.5em;

    &:focus {
      outline: 0;
    }
  }

  &__error {
    color: lightgray;
    font-size: 0.9rem;
    height: 1em;
    text-align: left;
    padding: 0.12em 0;
  }

  &__button {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5em 1.25em;
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  @media (min-width: 800px) {
    &__label,
    &__input {
      width: 60%;
    }
  }

  @media (min-width: 1100px) {
    &__field {
      align-items: center;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;

  background-color: var(--clr-gray-dark);

  &__title {
    font-size: 3rem;
    padding: 0.5em 0;
  }

  &__details {
    display: flex;
  }

  &__text {
    width: 50%;
    color: var(--clr-white);

    &--primary {
      width: 50%;
      color: var(--clr-primary);
      text-align: right;

      &::after {
        content: " -";
        padding-right: 1em;
      }
    }
  }
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;

  background-color: var(--clr-gray-dark);

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 1em;

    &--medium {
      color: var(--clr-primary);
      width: 50%;
      text-align: right;
      font-size: 1.75rem;

      &::after {
        content: " -";
        margin-right: 1em;
      }
    }
  }

  &__section {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1em;
    // flex-direction: column;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    &:hover {
      opacity: 0.75;
    }

    &--bg {
      padding: 0.25em 0.5em;
      margin-bottom: 0.25em;
      color: var(--clr-white);
      background-color: var(--clr-accent);
    }
  }

  &__underline {
    border-bottom: 2px solid var(--clr-accent);
  }
}

@media (min-width: 800px) {
  body {
    font-size: 1.3125rem; // 21px
  }

  .container {
    width: 80%;
  }

  .row {
    display: flex;
    justify-content: space-between;

    &__right {
      justify-content: flex-end;
    }
  }

  .col {
    flex-wrap: wrap;
    &__promo,
    &__top-films {
      flex: 0 1 45%;
      text-align: left;
    }
  }

  // .nav {
  //   font-size: 1rem;
  //   visibility: visible;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   position: relative;
  //   height: auto;

  //   &-toggle {
  //     display: none;
  //   }

  //   &__list {
  //     display: flex;
  //   }

  //   &__item {
  //     padding-left: 1em;
  //   }
  // }

  .promo {
    &__row {
      flex-wrap: wrap;
    }
  }

  .top-films {
    &__row {
      flex-wrap: wrap;
    }
  }

  .film {
    &__row {
      flex-direction: column;
    }

    &__title {
      text-align: left;
    }

    &__desc {
      margin-top: 2em;
    }

    &__data,
    &__button {
      justify-content: flex-end;
    }
  }

  .reviews {
    width: 60%;
  }

  .bookings {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .title {
    &--medium {
      font-size: 2rem;
    }
  }

  .promo {
    &__text {
      font-size: 1.3rem;
    }

    &__link {
      font-size: 1.5rem;
    }
  }
}
