:root {
  /* Background Colour */
  --clr-bg: #f5f5f5;

  /* Primary Colours */
  --clr-primary-light: #0000ba;
  --clr-primary-dark: #00006e;

  /* Border Colour */
  --clr-border: #ffd700;

  /* Button Colours */
  --clr-btn-hover: #f6f6f6;
  --clr-btn-natural: #c0c0c0;

  /* Colours */
  --clr-white: #ffffff;

  /* Font - Logo */
  --font-logo: "Audiowide", san-serif;

  /* Font */
  --font-main: "Roboto", san-serif;

  /* Box Shadow */
  --box-shadow: box-shadow: -3px 10px 5px 0px rgba(0,0,0,0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;

}

body {
  // background-color: var(--clr-primary-dark);
  background: linear-gradient(45deg, var(--clr-primary-light), var(--clr-primary-dark));

  font-family: var(--font-main);
  overflow-x: hidden;
}

// NAVBAR
.nav {
  display: flex;
  height: 10lvh;
  justify-content: space-around; 
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--clr-primary-dark);
  border-bottom: 2px solid var(--clr-border);
  padding: 0 1rem;

  &-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    text-decoration: none;
    color: var(--clr-white);
    font-size: 3.5rem;
    font-family: var(--font-logo);

    &:hover {
      color: var(--clr-white);
    }
  }

  &-menu {
    display: flex;
    align-items: center;

    @media screen and (max-width:1000px){
      position: fixed;
      top: 0;
      left: -100%;
      top: 5rem;
      gap: 0;
      flex-direction: column;
      background-color: var(--clr-primary-light);
      width: 100%;
      text-align: centre;
      transition: 300ms;
      z-index: 1;

      &.active {
        left: 0;
      }
    }
  }

  &-link {
    color: var(--clr-btn-natural);
    transition: 600ms;

    @media screen and (max-width:1000px){
      font-size: 1.8rem;
    }

    &:hover {
      color: var(--clr-btn-hover);
    }
  }



  &-hamburger{
    display: none;
    cursor: pointer;

    &-bar{
      display: block;
      width: 25px;
      height: 3px;
      margin: 2px 0;
      background-color: var(--clr-white);
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }

    @media screen and (max-width:1000px){
      display: block;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active .bar:nth-child(2){
        opacity: 0;
      }
      &.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

// MAIN STYLES

.main {
  width: 100%;

  padding: 0 5%;

  @media(max-width:1000px){
    padding: 0;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  margin: 2rem;
  position: relative;
  width: 100%;

  @media screen and (max-width:1000px){
    margin: 1rem;
    margin-bottom: -2rem;
  }

  &-h1{
      font-size: 4rem;
      padding-bottom: 0.5rem;

      @media screen and (max-width:1000px){
        font-size: 3rem;
      }

      &-sub {
        position: absolute;
        bottom: -20%;
        left: 50%;
        font-size: 1.4rem;

        @media screen and (max-width:1000px){
          position: absolute;
          bottom: -20%;
          left: 45%;
          font-size: 0.8rem;
        }

      }
  }
}

/***********************/
/**** INDEX STYLES ****/
/*********************/

// CAROUSEL
.carousel {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &-title {
    max-width: 40%;
    position: absolute;
    top: 10%;
    left: 0;
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    color: var(--clr-white);

    @media screen and (max-width:1000px){
      top: 0;
      padding: 0 0.5rem;
    }

    @media screen and (max-width:600px){
      font-size: 2.5rem;
    }
  }

  &-img {
    aspect-ratio: 16/9;
    width: 60%;
    height: 100%;
    margin-top: -2px;
    margin-left: -2px;
    border: 2px solid var(--clr-border);

    @media screen and (max-width:1000px){
      aspect-ratio: 16/9;
      width: 100%;
    }
  }

  &-booking {
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 0;
    padding: 1rem 3rem;
    color: var(--clr-white);
    background-color: var(--clr-primary-dark);
    border: 2px solid var(--clr-white);
    border-radius: 1.5rem 0 0 0;
    transition: 600ms;

    @media(max-width:1100px){
      padding: 1rem 2rem;
    }

    @media screen and (max-width:1000px) {
      right: 1px;
    }

    @media(max-width:600px){
      padding: 0.5rem;
    }

    &:hover {
      color: var(--clr-white);
      background-color: var(--clr-primary-light);
    }
  }

  &-btns {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 0;
    color: var(--clr-white);
    font-size: 2rem;
    transition: 500ms;

    @media screen and (max-width:1000px){
      right: -3px;
    }

    @media screen and (max-width:600px){
      font-size: 1rem;
    }

    & > * {
      color: var(--clr-btn-natural);
      background-color: var(--clr-primary-dark);
      text-decoration: none;
      border: 2px solid var(--clr-white);

      padding: 0 1.25rem;
      margin: 0.25rem;
      cursor: pointer;
      transition: 600ms;

      &:hover {
        color: var(--clr-btn-hover);
        background-color: var(--clr-primary-light);
      }
    }

    &-prevBtn {
      border-radius: 1rem 0 0 0;
    }

    &-nextBtn {
      border-radius: 0 0 1rem 0;
    }
  }
}

// PROMOTIONS
.promo{
background-color: var(--clr-primary-light);
border-bottom: 2px solid var(--clr-border);
margin: 3rem -6%;

@media screen and (max-width:1000px){
  width: 100%;  
  margin: 0;
}

@media screen and (max-width:1000px){
  border: 2px solid var(--clr-border);
  border-top: none;
  margin: 0 -1px;
}

  &-title {
    color: var(--clr-white);
    font-size: 2rem;
    text-align: center;
    padding: 2rem;

    @media screen and (max-width:1000px){
      padding: 0;
      padding-top: 2rem;
    }
  }

  &-container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    @media screen and (max-width: 1000px){
      flex-direction: column;
      align-items: center;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($color: #000000, $alpha:0.1);
    border: 2px solid var(--clr-border);
    border-radius: 1.5rem 1.5rem 0 0;
    width: 20%;
    margin: 0 1.5rem;
    margin-bottom: -2px;

    @media screen and (max-width:1350px){
      width: 50%;
    }

    @media screen and (max-width:1000px){
      width: 70%;
      margin-top: 2rem;
      border-radius: 0;
    }

    &-header{
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--clr-border);
      border-radius: 1.5rem 1.5rem 0 0;
      background-image: url(https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-size: cover;
      background-repeat: no-repeat;

      @media screen and (max-width: 1000px){
        border-radius: 0;
      }

        &-title {
          width: 70%;
          font-size: 2.5rem;
          color: var(--clr-white);
          text-shadow: 2px 2px 3px black;
        }
    }

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--clr-white);
      height: 400px;
      padding: 0.5rem;
      &-title{
        padding: 1rem 0;
        letter-spacing: 1px;
        font-size: 1.5rem;
        color: var(--clr-white);
      }
      &-text{
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }

    &-cta {
      font-size: 1.4rem;
      text-decoration: none;
      color: var(--clr-border);
      text-decoration: underline;
      transition: 600ms;

      &:hover{
        color: var(--clr-white);
      }
    }
  }
}

// HIGHLIGHTED MOVIES
.highlighted {
  color: var(--clr-white);

  @media screen and (max-width: 1000px){
      border: 2px solid var(--clr-border);
      border-top: none;
      margin-left: -1px;
      width: 100%;
  }

  &-title{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    @media screen and (max-width:1000px){
      padding-top: 2rem;;
    }
  }

  &-container{
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-movie {
    width: 30%;
    margin: 0 1rem;
    position: relative;
    border: 2px solid var(--clr-white);

    &-img {
      aspect-ratio: 16/9;
      width: 100%;
    }

    &-link{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0;
      transition: all 600ms;

      &:hover {
        opacity: 1;
      }

      & a {
        font-size: 2rem;
        color: var(--clr-white);
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid var(--clr-border);
        }
      }
    }
  }
}

.spacer {
  height: 10lvh;
}

.article {
    color: var(--clr-white);

  &-container {
    position: relative;
    height: 90lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-bottom: 10rem;
    scroll-margin-top: 10lvh;
    margin: 0 23%;

    @media screen and (max-width: 768px){
      margin: 0 10%;
    }

    @media screen and (max-width: 425px){
      margin: 0;
    }
  }


  &-img {
    aspect-ratio: 16/9;
    width: 100%;
    border: 2px solid var(--clr-border);
    border-bottom: none;
    
    @media screen and (max-width:425px){
      border: none;
      border-top: 2px solid var(--clr-border);
      border-bottom: 2px solid var(--clr-border);
    }
  }

  &-title {
    text-align: center;
    
    font-size: 4rem;
    text-shadow: 1px 1px 4px black;
    margin: 0;

    @media screen and (max-width:425px){
      padding: 0.5rem;
      font-size: 2.5rem;
    }
  }

  &-genres {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 2px solid var(--clr-border);
    border-top: none;

    & p {
      padding: 0.25rem 1rem;
      margin: 0;
    }  

    @media screen and (max-width:425px){
      border: none;
      border-bottom: 2px solid var(--clr-border);
    }
  }

  &-data {
    display: flex;
    justify-content: flex-end;
    & p {
      background-color: black;
      padding: 0.25rem 1rem;
      margin: 0;

      &:nth-child(1){
        border-top: 2px solid var(--clr-border);
        border-left: 2px solid var(--clr-border);
        border-radius: 1.5rem 0 0 0;
      }
      &:nth-child(2){
        border-top: 2px solid var(--clr-border);
      }
      &:nth-child(3){
        border-top: 2px solid var(--clr-border);
        border-right: 2px solid var(--clr-border);

        @media screen and (max-width:425px){
          border-right: none;;
        }
      }
    }
  }

  &-desc {
    padding: 0.25rem;
    & p {
      margin: 0;
    }  
  }

  &-stock {
    background-color: var(--clr-primary-light);
    border: 2px solid var(--clr-border);
    border-radius: 0 1.5rem 0 0;
    border-bottom: none;
    display: inline-block;

    @media screen and (max-width:425px){
      border-left: none;
    }

    & p {
      padding: 0.5rem 1rem;
      margin: 0;
    }      
  }

  &-btn {
    width: 100%;
    background-color: var(--clr-primary-dark);
    border: 2px solid var(--clr-border);
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    transition: 600ms;

    @media screen and (max-width:425px){
      border-left: none;
      border-right: none;
    }

    &:hover {
      background-color: var(--clr-primary-light);
      border: 2px solid var(--clr-border);
      color: var(--clr-white);
    }

    & a {
      text-decoration: none;
      color: var(--clr-white);
      font-size: 1.4rem;
    }
  }
}

// INDIVIDUAL FILM PAGE STYLES
.film {
  margin-top: 3rem;
  background-color: var(--clr-primary-light);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--clr-white);
  border: 2px solid var(--clr-border);

  // film data container
  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-primary-light);

    & > * {
      width: 80%;

      @media screen and (max-width:1000px){
        width: 100%;
      }
    }

    &-img {
      aspect-ratio: 16/9;
      height: 100%;
      margin-top: -1px;
      border: 2px solid var(--clr-border);

      @media screen and (max-width:1000px){
        border: none;
      }
    }

    &-data {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.8);
    }

    &-desc {
      font-size: 1.2rem;
      padding: 1rem 0;

      @media screen and (max-width:1000px) {
        padding: 1rem;
        font-size: 1.6rem;
      }
    }
  }

  //booking styles
  &-booking{
    position: relative;
    background-color: var(--clr-white);
    color: black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    &-heading {
      text-align: center;
      font-size: 2.6rem;
      padding: 0.5rem;
    }

    & p {
      width: 100%;
      text-align: center;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 1rem 0;

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;  
        font-size: 3rem;


        & span {
          width: 100%;
          height: 100%;
          text-align: center;
          padding-top: 0.8rem;  
          background-color: var(--clr-btn-natural);
          border-radius: 50%;
          border: 1px solid black;
          cursor: pointer;

          &:hover {
            background-color: var(--clr-btn-hover);
          }
        }
      }
    }

    &-btn {
      font-size: 1.6rem;
      padding: 0.25rem;
      background-color: var(--clr-btn-natural);
      border: none;
      border-top: 2px solid black;
      width: 100%;
      transition: 600ms;

      &:hover {
        background-color: var(--clr-btn-hover);
      }
    }
  }

  // reviews container
  &-reviews {
    display: flex;
    color: var(--clr-primary-dark);
    background-color: var(--clr-bg);

    @media screen and (max-width:1000px){
      flex-direction: column-reverse;
    }

    &-h3 {
      font-size: 2.5rem;
      border-bottom: 1px solid var(--clr-primary-light);

      & span {
        font-size: 0.9rem;
      }
    }

    & > * {
      width: 50%;
      padding: 2rem;

      @media screen and (max-width:1000px){
        width: 100%;
      }
    }

    // individual reviews
    &-review {
      &-container {
        display: flex;
        flex-direction: column;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-primary-light);
        margin: 1rem 0;
      }

      &-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        padding-top: 1rem;
        font-size: 1.2rem;
        letter-spacing: 1px;
        border-bottom: 1px solid var(--clr-primary-light);
      }

      &-body {
        display: flex;
        font-size: 1.2rem;
        letter-spacing: 1px;

        & p {
          padding: 0.5rem;
          padding-top: 1rem;
        }
      }
    }
  }
}

// form styles
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-h1 {
    color: var(--clr-bg);
    font-size: 2.6rem;
  }

  &-container {
    width: 50%;
    background-color: var(--clr-primary-light);
    border: 1px solid var(--clr-border);

    @media screen and (max-width:1000px){
      width: 80%;
    }
  }
  
  &-field {
    color: var(--clr-white);
    margin: 0.5rem 3rem;
  }

  &-label {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  &-subtext {
    color: var(--clr-btn-natural);
    font-size: 0.8rem;
  }

  &-btn {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid black;
    background-color: var(--clr-btn-natural);
    transition: 600ms;

    &:hover {
      background-color: var(--clr-btn-hover);
      border: none;
    }
  }
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);

  &-h1 {
    font-size: 3rem;
    text-align: center;
  }

  &-container {
    width: 50%;
    background-color: var(--clr-primary-light);
    border: 1px solid var(--clr-border);

    @media screen and (max-width:1000px){
      width: 80%;
    }
  }

  &-section {
    padding: 1rem;
    &-h3 {
      font-size: 2rem;
      border-bottom: 1px solid var(--clr-bg);
    }

    &-a {
      font-size: 1.4rem;
      padding: 0.25rem;
      color: var(--clr-btn-natural);
      text-decoration: none;
      display: block;
      transition: 600ms;

      @media screen and (max-width:1000px){
        font-size: 2rem;
      }

      &:hover {
        color: var(--clr-white);
      }
    }

    &-btn {
      text-decoration: none;
      width: 100%;
      margin-top: 0.25rem;
      border: none;
      background-color: var(--clr-btn-natural);
      transition: 600ms;

      @media screen and (max-width:1000px){
        font-size: 1.4rem;
        padding: 0.5rem 0;
      }

      &:hover {
        background-color: var(--clr-btn-hover);
      }

      & a {
        color: black;
        text-decoration: none;
      }
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-h1 {
    font-size: 3rem;
    color: var(--clr-white);
  }

  &-info {
    width: 50%;
    padding: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-primary-light);
    border: 1px solid var(--clr-border);

    & p {
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
  }
}

// bookings styles
.bookings{
  color: var(--clr-white);
  margin: 3rem 5%;
  background-color: var(--clr-primary-light);

  &-h3{
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
  }
}
