:root {
  /* Colours */
  --clr-bg: #000000;
  --clr-primary: #00ffff;
  --clr-secondary: #39ff14;
  --clr-accent: #800080;
  --clr-white: #ffffff;
  --clr-gray-dark: #001c1c;
  /* Font - Logo */
  --font-logo: "Audiowide", san-serif;
  /* Font */
  --font-main: "Roboto", san-serif;
  /* Box Shadow */
  --box-shadow: box-shadow: -3px 10px 5px 0px rgba(0, 0, 0, 0.75);
  /* Spacing */
  --tiny-spacer: 0.25em;
  --small-spacer: 1em;
  --medium-spacer: 2em;
  --large-spacer: 4em;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-bg);
  font-family: var(--font-main);
  font-size: 1.125rem;
  color: var(--clr-white);
}

header {
  background-color: var(--clr-bg);
  border-bottom: 2px solid var(--clr-accent);
}

/***********
** lAYOUT **
***********/
.container {
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 1100px) {
  .container {
    max-width: 60%;
  }
}

/**************************/
/** REUSEABLE COMPONENTS **/
/************************/
.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  padding: 0.5em 0.75em;
  align-self: flex-end;
}
.button:hover, .button:focus {
  opacity: 0.75;
}
.button--medium {
  font-size: 1.2em;
}

/***********
** NAVBAR **
***********/
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 600ms ease-in;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  visibility: hidden;
  height: 0;
  list-style: none;
}
.nav__list--visible {
  visibility: visible;
  height: auto;
  text-align: center;
  list-style: none;
  font-size: 1em;
}
.nav__list--primary {
  padding-bottom: var(--small-spacer);
}
.nav__item {
  margin-bottom: var(--small-spacer);
}
.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-white);
}
.nav__link:hover {
  opacity: 0.75;
}
.nav__link--logo {
  font-family: var(--font-logo);
  font-size: 2.5rem;
  color: var(--clr-primary);
  text-decoration: none;
  padding: 0.25em 0;
}
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--clr-primary);
  color: var(--clr-accent);
  transition: opacity 600ms ease;
}
.nav-toggle:focus, .nav-toggle:hover {
  opacity: 0.75;
}
.nav-toggle__hamburger {
  width: 50%;
  position: relative;
}
.nav-toggle__hamburger, .nav-toggle__hamburger::before, .nav-toggle__hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--clr-accent);
}
.nav-toggle__hamburger::before, .nav-toggle__hamburger::after {
  content: "";
  width: 100%;
}
.nav-toggle__hamburger::before {
  transform: translateY(-6px);
}
.nav-toggle__hamburger::after {
  transform: translateY(3px);
}
@media (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__item {
    margin: 0;
  }
  .nav__list {
    width: 100%;
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list--primary {
    padding: 0;
  }
  .nav__list--secondary {
    display: flex;
  }
  .nav__link {
    font-size: 0.9rem;
    margin-left: var(--small-spacer);
  }
  .nav-toggle {
    display: none;
  }
}

/***********************/
/**** INDEX STYLES ****/
/*********************/
.media-scroller {
  display: grid;
  gap: var(--medium-spacer);
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  background-color: var(--clr-bg);
  scroll-behavior: smooth;
}
@media (min-width: 800px) {
  .media-scroller {
    gap: 4em;
    grid-auto-columns: 50%;
  }
}
.media-scroller::before, .media-scroller::after {
  content: "";
}
.media-scroller::-webkit-scrollbar {
  width: 0.25vw;
}
.media-scroller::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-accent);
  border-radius: 10em;
}
.media-scroller::-webkit-scrollbar-track {
  background-color: var(--clr-bg);
  border-bottom: 2px solid var(--clr-secondary);
}
.media-scroller__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid transparent;
  -o-border-image: linear-gradient(0.25turn, var(--clr-bg), var(--clr-secondary));
     border-image: linear-gradient(0.25turn, var(--clr-bg), var(--clr-secondary));
  border-image-slice: 1;
  border-right: 2px solid var(--clr-secondary);
  padding: var(--tiny-spacer);
}
@media (min-width: 800px) {
  .media-scroller__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.media-scroller__element {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: min-content;
  background: var(--clr-bg);
  margin: var(--large-spacer) 0;
}
.media-scroller__image {
  inline-size: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.media-scroller__title {
  font-size: 2rem;
  padding: var(--tiny-spacer) 0;
}
.media-scroller__snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-left: 10%;
}
@media (min-width: 1100px) {
  .media-scroller__snaps-inline {
    scroll-padding-left: 20%;
  }
}
.media-scroller__snaps-inline > * {
  scroll-snap-align: start;
}

.promo {
  background-color: var(--clr-white);
  padding: var(--large-spacer) 0;
  text-align: center;
}
.promo__section {
  color: var(--clr-bg);
  padding: var(--medium-spacer) 0;
  margin-top: var(--medium-spacer);
}
.promo__title {
  font-size: 2rem;
  color: var(--clr-accent);
}
.promo__text {
  font-size: 1.125rem;
  letter-spacing: 3px;
  padding: var(--medium-spacer) 0;
  margin-bottom: var(--small-spacer);
}
.promo__links {
  padding-bottom: var(--medium-spacer);
}
.promo__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--clr-bg);
  background-color: var(--clr-secondary);
  padding: 0.5em 1em;
  margin: 5rem 0;
}
.promo__link:hover, .promo__link:focus {
  opacity: 0.75;
}
@media (min-width: 800px) {
  .promo {
    text-align: left;
  }
  .promo__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .promo__section {
    width: 50%;
    flex: 0 0 calc(50% - var(--small-spacer));
  }
}

.top-films {
  padding: var(--large-spacer) 0;
}
.top-films__wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: 100%;
  grid-auto-flow: dense;
}
.top-films__images {
  position: relative;
}
.top-films__image {
  aspect-ratio: 16/9;
  width: 100%;
  border: 2px solid var(--clr-primary);
}
.top-films__title {
  font-size: 3rem;
  padding-bottom: var(--small-spacer);
}
.top-films__links {
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-bg);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in;
}
.top-films__links:hover {
  opacity: 0.8;
}
.top-films__link {
  font-size: 1.5rem;
}
.top-films__link:hover {
  opacity: 0.6;
}
@media (min-width: 800px) {
  .top-films .top-films__row {
    flex-wrap: wrap;
  }
  .top-films__wrapper {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1200px) {
  .top-films__wrapper {
    grid-template-columns: 33% 33% 33%;
  }
}

/***************************/
/**** ALL FILMS STYLES ****/
/*************************/
.all-films {
  padding-bottom: 2em;
}
.all-films--black-bg {
  background-color: var(--clr-bg);
}
.all-films--gray-bg {
  background-color: var(--clr-gray-dark);
}
.all-films__text {
  padding-top: 1em;
}
.all-films__text--bg {
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  font-size: 1rem;
  line-height: 1;
  padding: 0.25em 0.75em;
  border-radius: 10em;
  margin-bottom: 0.25em;
  margin-right: 0.5em;
}
.all-films__text--mr {
  margin-right: 0.5em;
}
.all-films__image {
  aspect-ratio: 16/9;
}
.all-films__genres, .all-films__data {
  width: 30%;
  flex-wrap: wrap;
}
.all-films__cta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 2em;
}
.all-films__cta--bg {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0em 1.25em;
  display: inline-block;
  border: 2px solid var(--clr-primary);
  border-bottom: none;
}

/**************************************/
/**** INDIVIDUAL FILM PAGE STYLES ****/
/************************************/
.film {
  padding-bottom: var(--large-spacer);
}
.film__title {
  color: var(--clr-secondary);
  text-shadow: 2px 2px 4px var(--clr-accent);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0.25em 0;
}
.film__image {
  align-self: flex-start;
  aspect-ratio: 16/9;
}
.film__info {
  display: flex;
  justify-content: space-between;
}
.film__data {
  display: flex;
}
.film__data > * {
  margin-right: 1em;
}
.film__data, .film__genre {
  padding-bottom: var(--medium-spacer);
}
.film__genre {
  flex-wrap: wrap;
  justify-content: flex-end;
}
.film__button {
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  color: var(--clr-accent);
  background-color: var(--clr-primary);
  align-self: flex-end;
}
.film__button:hover {
  opacity: 0.75;
}
.film__desc {
  margin-top: 2em;
}
.film__text--bg {
  padding: 0.25em 0.5em;
  color: var(--clr-bg);
  background-color: var(--clr-white);
  text-align: center;
  border-radius: 10em;
  margin-left: 1em;
  margin-bottom: 0.25em;
  line-height: 1;
}
@media (min-width: 800px) {
  .film__container {
    display: flex;
    justify-content: space-between;
  }
  .film__wrapper {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .film__image {
    width: 50%;
  }
  .film__title {
    text-align: left;
  }
}

.reviews-bookings {
  background: var(--clr-gray-dark);
  padding-bottom: var(--large-spacer);
}
@media (min-width: 800px) {
  .reviews-bookings {
    padding: 0;
  }
  .reviews-bookings__flex {
    display: flex;
    justify-content: space-between;
  }
}

.reviews {
  background: var(--clr-gray-dark);
  padding: var(--medium-spacer) 0;
}
.reviews__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews__review {
  border-bottom: 2px solid var(--clr-accent);
  border-right: 2px solid var(--clr-accent);
  margin-bottom: var(--small-spacer);
  padding: 0 var(--tiny-spacer) var(--tiny-spacer) 0;
}
.reviews__title {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: var(--small-spacer);
}
.reviews__title--small {
  font-size: 0.8rem;
}
.reviews__text {
  padding: 0.5em 0;
}
.reviews__link {
  color: var(--clr-secondary);
}
.reviews__text-area {
  width: 100%;
  margin: var(--medium-spacer) 0;
}
.reviews__buttons {
  display: flex;
  justify-content: flex-end;
}
.reviews__button {
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  cursor: pointer;
}
.reviews__button:hover {
  opacity: 0.75;
}
.reviews__button--small {
  font-size: 0.9rem;
}
.reviews__underline {
  padding-bottom: var(--tiny-spacer);
  border-bottom: 2px solid var(--clr-secondary);
}
@media (min-width: 800px) {
  .reviews {
    width: 45%;
  }
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002c2c;
  padding: var(--medium-spacer) 0;
}
.bookings__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--medium-spacer);
}
.bookings__title {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: var(--medium-spacer);
}
.bookings__title--small {
  font-size: 0.8rem;
}
.bookings__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--medium-spacer) 0;
}
.bookings__button {
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  cursor: pointer;
}
.bookings__button:hover {
  opacity: 0.75;
}
.bookings__button--round {
  width: 60px;
  height: 60px;
  display: grid;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color: var(--clr-bg);
  background-color: var(--clr-white);
  border-radius: 10em;
  cursor: pointer;
  margin-bottom: var(--tiny-spacer);
}
.bookings__button--round:hover {
  opacity: 0.75;
}
.bookings__time-slots {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookings__radio-tile {
  position: relative;
  margin-bottom: var(--tiny-spacer);
  cursor: pointer;
  z-index: 1;
}
.bookings__radio-tile:checked {
  background-color: blue;
}
.bookings__label {
  color: var(--clr-bg);
  position: absolute;
  top: 23%;
  left: 30%;
  z-index: 3;
}
.bookings__input {
  display: block;
  background-color: white;
  z-index: 2;
  position: relative;
  padding: var(--small-spacer) var(--large-spacer);
  transition: 400ms ease;
}
.bookings__input:hover {
  scale: 1.05;
  opacity: 0.75;
}
.bookings__input:checked {
  background-color: blue;
}
.bookings__stocks {
  padding: var(--medium-spacer) 0;
  text-align: center;
}
.bookings__counter {
  font-size: 1.5rem;
  padding: 0 1em;
  margin-bottom: var(--tiny-spacer);
}
.bookings__underline {
  padding-bottom: var(--tiny-spacer);
  border-bottom: 2px solid var(--clr-secondary);
}
@media (min-width: 800px) {
  .bookings {
    width: 40%;
  }
}

.ticket {
  padding: var(--medium-spacer) 0;
  background-color: var(--clr-gray-dark);
  min-height: 90lvh;
}
.ticket__title {
  font-size: 2.5rem;
  margin-bottom: var(--small-spacer);
}
.ticket__title--small {
  font-size: 2rem;
}
.ticket__text {
  font-size: 1.5rem;
}
.ticket__text--small {
  font-size: 1.125rem;
}
.ticket__text--expired, .ticket__text--valid {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: var(--tiny-spacer) var(--small-spacer);
  display: inline-block;
}
.ticket__text--expired {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}
.ticket__text--valid {
  background-color: var(--clr-secondary);
}
.ticket__validity {
  display: flex;
  justify-content: flex-end;
}
.ticket__wrapper {
  color: var(--clr-bg);
}
.ticket__item {
  max-width: 700px;
  padding: var(--small-spacer);
  background-color: var(--clr-primary);
  margin-bottom: var(--small-spacer);
}
.ticket__underline {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--clr-secondary);
}

.forms {
  min-height: 100vh;
  padding: var(--medium-spacer) 0;
  background-color: var(--clr-gray-dark);
}
.forms__field {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--small-spacer);
}
.forms__field--row {
  flex-direction: row;
  flex-wrap: wrap;
}
.forms__field.success .forms__input {
  border-color: var(--clr-secondary);
}
.forms__field.error .forms__input {
  border-color: var(--clr-accent);
}
.forms__label {
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-bottom: var(--tiny-spacer);
}
.forms__label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.forms__label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.forms__label-container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.forms__label-container input:checked ~ .checkmark:after {
  display: block;
}
.forms__label-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.forms__label .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.forms__input {
  font-size: 1.125rem;
  border: 2px solid lightblue;
  display: block;
  padding: var(--tiny-spacer);
}
.forms__input:focus {
  outline: 0;
}
.forms__error {
  color: lightgray;
  font-size: 0.9rem;
  height: 1rem;
  text-align: left;
  padding: 0.12em 0;
}
.forms__error--block {
  text-align: center;
  width: 100%;
  display: block;
}
.forms__button {
  text-align: center;
  font-size: 1.2rem;
  padding: var(--tiny-spacer) var(--small-spacer);
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  align-self: flex-end;
  cursor: pointer;
}
.forms__button:hover {
  opacity: 0.75;
}
.forms__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.forms__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
@media (min-width: 800px) {
  .forms__label, .forms__input {
    width: 60%;
  }
}
@media (min-width: 1100px) {
  .forms__field {
    align-items: center;
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;
  background-color: var(--clr-gray-dark);
}
.user__title {
  font-size: 3rem;
  padding: 0.5em 0;
}
.user__details {
  display: flex;
}
.user__text {
  width: 50%;
  color: var(--clr-white);
}
.user__text--primary {
  width: 50%;
  color: var(--clr-primary);
  text-align: right;
}
.user__text--primary::after {
  content: " -";
  padding-right: 1em;
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;
  background-color: var(--clr-gray-dark);
}
.admin__title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 1em;
}
.admin__title--medium {
  color: var(--clr-primary);
  width: 50%;
  text-align: right;
  font-size: 1.75rem;
}
.admin__title--medium::after {
  content: " -";
  margin-right: 1em;
}
.admin__section {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1em;
}
.admin__links {
  display: flex;
  flex-direction: column;
}
.admin__link:hover {
  opacity: 0.75;
}
.admin__link--bg {
  padding: 0.25em 0.5em;
  margin-bottom: 0.25em;
  color: var(--clr-white);
  background-color: var(--clr-accent);
}
.admin__underline {
  border-bottom: 2px solid var(--clr-accent);
}/*# sourceMappingURL=main.css.map */