:root {
  /* Colours */
  --clr-bg: #000000;
  --clr-primary: #00ffff;
  --clr-secondary: #39ff14;
  --clr-accent: #800080;
  --clr-white: #ffffff;
  --clr-gray-dark: #001c1c;

  /* Font - Logo */
  --font-logo: "Audiowide", san-serif;

  /* Font */
  --font-main: "Roboto", san-serif;

  /* Box Shadow */
  --box-shadow: box-shadow: -3px 10px 5px 0px rgba(0, 0, 0, 0.75);

  /* Spacing */
  --tiny-spacer: 0.25em;
  --small-spacer: 1em;
  --medium-spacer: 2em;
  --large-spacer: 4em;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-bg);
  font-family: var(--font-main);
  font-size: 1.125rem;
  color: var(--clr-white);
  overflow-x: hidden;
}

header {
  background-color: var(--clr-bg);
  border-bottom: 2px solid var(--clr-accent);
  box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: 0.2);
}

/*****************/
/**** lAYOUT ****/
/***************/

.container {
  max-width: 80%;
  margin: 0 auto;

  @media (min-width: 1100px) {
    max-width: 60%;
  }
}

/*******************************/
/**** REUSEABLE COMPONENTS ****/
/*****************************/

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--clr-primary);
  color: var(--clr-bg);
  padding: 0.5em 0.75em;
  align-self: flex-end;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &--medium {
    font-size: 1.2em;
  }
}

/***************/
/*** NAVBAR ***/
/*************/

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  transition: 600ms ease-in;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 0;

  &__flex {
    display: flex;
  }

  &__logo {
    font-family: var(--font-logo);
    font-size: 1.5rem;
    color: var(--clr-primary);
    align-self: flex-start;
    flex: 0 1;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25em 0;
  }

  &__links {
    &--secondary {
      align-items: flex-end;
    }
  }

  &__link {
    color: var(--clr-white);
    text-decoration: none;
    background: none;
    border: none;
    font-size: 1rem;
    margin-left: 1em;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__dropdown {
    position: relative;

    &-menu {
      position: absolute;
      right: 0;
      top: calc(100% + 1.5rem);

      background-color: var(--clr-gray-dark);
      padding: 0.75rem;
      border: 2px solid var(--clr-accent);
      box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: 0.2);
      opacity: 0;
      pointer-events: none;
      transform: translateY(-10px);
      transition:
        opacity 150ms ease-in-out,
        transform 150ms ease-in-out;
    }

    &.nav__active > .nav__link + &-menu {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    &.nav__active > .nav__link {
      opacity: 0.75;
    }
  }

  @media (min-width: 800px) {
    &__logo {
      font-size: 2.5rem;
    }
  }
}

/***********************/
/**** INDEX STYLES ****/
/*********************/

.media-scroller {
  display: grid;
  gap: var(--medium-spacer);
  grid-auto-flow: column;
  grid-auto-columns: 80%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  background-color: var(--clr-bg);
  scroll-behavior: smooth;

  @media (min-width: 800px) {
    gap: 4em;
    grid-auto-columns: 50%;
  }

  &::before,
  &::after {
    content: "";
  }

  &::-webkit-scrollbar {
    width: 0.25vw;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border: 1px solid var(--clr-accent);
    border-radius: 10em;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--clr-bg);
    border-bottom: 2px solid var(--clr-secondary);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, var(--clr-bg), var(--clr-secondary));
    border-image-slice: 1;
    border-right: 2px solid var(--clr-secondary);

    padding: var(--tiny-spacer);

    @media (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__element {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: min-content;
    background: var(--clr-bg);

    margin: var(--large-spacer) 0;
  }

  &__image {
    inline-size: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  &__title {
    font-size: 2rem;
    padding: var(--tiny-spacer) 0;
  }

  &__snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-left: 10%;

    @media (min-width: 1100px) {
      scroll-padding-left: 20%;
    }

    & > * {
      scroll-snap-align: start;
    }
  }
}

.promo {
  background-color: var(--clr-white);
  padding: var(--large-spacer) 0;
  text-align: center;

  &__section {
    color: var(--clr-bg);
    padding: var(--medium-spacer) 0;
    margin-top: var(--medium-spacer);

    &:nth-child(2) {
      transition-delay: 200ms;
    }

    &:nth-child(3) {
      transition-delay: 400ms;
    }
  }

  &__title {
    font-size: 2rem;
    color: var(--clr-accent);
  }

  &__text {
    font-size: 1.125rem;
    letter-spacing: 3px;

    padding: var(--medium-spacer) 0;
    margin-bottom: var(--small-spacer);
  }

  &__links {
    padding-bottom: var(--medium-spacer);
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-bg);
    background-color: var(--clr-secondary);
    padding: 0.5em 1em;
    margin: 5rem 0;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }

  @media (min-width: 800px) {
    text-align: left;

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__section {
      width: 50%;
      flex: 0 0 calc(50% - var(--small-spacer));
    }
  }
}

.top-films {
  padding: var(--large-spacer) 0;

  &__wrapper {
    display: grid;
    gap: 2em;
    grid-template-columns: 100%;
    grid-auto-flow: dense;
  }

  &__images {
    position: relative;

    &:nth-child(2n + 2) {
      transition-delay: 300ms;
    }
  }

  &__image {
    aspect-ratio: 16/9;
    width: 100%;
    border: 2px solid var(--clr-primary);
  }

  &__title {
    font-size: 1.5rem;
    padding-bottom: var(--small-spacer);
  }

  &__links {
    text-decoration: none;
    color: var(--clr-white);
    background-color: var(--clr-bg);
    opacity: 0;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 300ms ease-in;

    &:hover {
      opacity: 0.8;
    }
  }

  &__link {
    font-size: 1.5rem;

    &:hover {
      opacity: 0.6;
    }
  }

  &__underline {
    padding-bottom: var(--tiny-spacer);
    border-bottom: 2px solid var(--clr-accent);
  }

  @media (min-width: 800px) {
    .top-films {
      &__row {
        flex-wrap: wrap;
      }
    }

    &__wrapper {
      grid-template-columns: 50% 50%;
    }
  }

  @media (min-width: 1200px) {
    &__wrapper {
      grid-template-columns: 33% 33% 33%;
    }
  }
}

/***************************/
/**** ALL FILMS STYLES ****/
/*************************/

.all-films {
  padding-bottom: var(--large-spacer);
  &__title {
    padding: var(--small-spacer) 0;
    font-size: 2.75rem;
  }

  &--black-bg {
    background-color: var(--clr-bg);
  }

  &--gray-bg {
    background-color: var(--clr-gray-dark);
  }

  &__info,
  &__genres {
    display: flex;

    & > * {
      margin-right: var(--small-spacer);
    }
  }

  &__genres {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__text {
    // padding-top: 1em;

    &:nth-child(2) {
      transition-delay: 300ms;
    }
    &:nth-child(3) {
      transition-delay: 600ms;
    }

    &--bg {
      color: var(--clr-bg);
      background-color: var(--clr-primary);
      font-size: 1rem;
      line-height: 1;
      padding: 0.25em 0.75em;
      border-radius: 10em;
      margin-bottom: 0.25em;
      margin: 0;
      margin-left: 1em;

      &:nth-child(1) {
        transition-delay: 900ms;
      }
      &:nth-child(2) {
        transition-delay: 600ms;
      }
      &:nth-child(3) {
        transition-delay: 300ms;
      }
      &:nth-child(4) {
        transition-delay: 300ms;
      }
      &:nth-child(5) {
        transition-delay: 300ms;
      }
      &:nth-child(6) {
        transition-delay: 300ms;
      }
    }

    &--mr {
      margin-right: 0.5em;
    }
  }

  &__desc {
    padding: var(--medium-spacer) 0;
  }

  &__image {
    aspect-ratio: 16/9;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: var(--small-spacer) var(--medium-spacer);

    color: var(--clr-bg);
    background-color: var(--clr-primary);

    &:hover {
      opacity: 0.75;
    }
  }

  &__underline {
    padding-bottom: var(--tiny-spacer);
    border-bottom: 2px solid var(--clr-accent);
  }

  @media (min-width: 1500px) {
    &__wrapper {
      display: flex;
      justify-content: space-between;

      &--primary,
      &--secondary {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &__title {
      text-align: center;
      padding-bottom: var(--medium-spacer);
    }

    &__text {
      padding-bottom: var(--small-spacer);
    }

    &__desc {
      text-align: right;
    }
  }
}

/**************************************/
/**** INDIVIDUAL FILM PAGE STYLES ****/
/************************************/

.film {
  padding-bottom: var(--large-spacer);

  &__title {
    color: var(--clr-secondary);
    text-shadow: 2px 2px 4px var(--clr-accent);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin: 0.25em 0;
  }

  &__image {
    align-self: flex-start;
    aspect-ratio: 16/9;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__data {
    display: flex;

    & > * {
      margin-right: 1em;
    }
  }

  &__data,
  &__genre {
    padding-bottom: var(--medium-spacer);
  }

  &__genre {
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__button {
    font-size: 1.5rem;
    padding: 0.5em 1.5em;
    color: var(--clr-accent);
    background-color: var(--clr-primary);
    align-self: flex-end;

    &:hover {
      opacity: 0.75;
    }
  }

  &__desc {
    margin-top: 2em;
  }

  &__text {
    &:nth-child(2) {
      transition-delay: 300ms;
    }
    &:nth-child(3) {
      transition-delay: 600ms;
    }
    &--bg {
      padding: 0.25em 0.5em;
      color: var(--clr-bg);
      background-color: var(--clr-white);
      text-align: center;
      border-radius: 10em;
      margin-left: 1em;
      margin-bottom: 0.25em;
      line-height: 1;
      &:nth-child(2) {
        transition-delay: 300ms;
      }
      &:nth-child(3) {
        transition-delay: 600ms;
      }
    }
  }

  @media (min-width: 800px) {
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__wrapper {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__image {
      width: 50%;
    }

    &__title {
      text-align: left;
    }
  }
}

.reviews-bookings {
  background: var(--clr-gray-dark);
  padding-bottom: var(--large-spacer);

  @media (min-width: 800px) {
    padding: 0;

    &__flex {
      display: flex;
      justify-content: space-between;
    }
  }
}

.reviews {
  background: var(--clr-gray-dark);
  padding: var(--medium-spacer) 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review {
    border-bottom: 2px solid var(--clr-accent);
    border-right: 2px solid var(--clr-accent);
    margin: var(--small-spacer) 0;
    padding: 0 var(--tiny-spacer) var(--tiny-spacer) 0;
  }

  &__title {
    color: var(--clr-primary);
    font-size: 1.125rem;
    // margin-bottom: var(--small-spacer);

    &--small {
      font-size: 0.8rem;
    }
  }

  &__stars {
    scale: 0.8;
  }

  &__text {
    padding: 0.5em 0;
  }

  &__link {
    color: var(--clr-secondary);
  }

  &__text-area {
    width: 100%;
    margin: var(--medium-spacer) 0;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    &--small {
      font-size: 0.9rem;
    }
  }

  &__underline {
    padding-bottom: var(--tiny-spacer);
    border-bottom: 2px solid var(--clr-secondary);
  }

  @media (min-width: 800px) {
    width: 45%;
  }

  @media (min-width: 1200px) {
    &__title {
      font-size: 1.5rem;
    }

    &__stars {
      scale: 1;
    }
  }
}

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002c2c;
  padding: var(--medium-spacer) 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--medium-spacer);
  }

  &__title {
    color: var(--clr-primary);
    font-size: 1.5rem;
    margin-bottom: var(--medium-spacer);

    &--small {
      font-size: 0.8rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: var(--medium-spacer) 0;
  }

  &__text {
    text-align: center;
    padding: var(--tiny-spacer);
  }

  &__button {
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    &--round {
      width: 60px;
      height: 60px;
      display: grid;
      align-items: center;
      font-size: 2rem;
      text-align: center;
      color: var(--clr-bg);
      background-color: var(--clr-white);
      border-radius: 10em;
      cursor: pointer;
      margin-bottom: var(--tiny-spacer);

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__time-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
  }

  &__radio-tile {
    position: relative;
    margin-bottom: var(--tiny-spacer);
    cursor: pointer;
    z-index: 1;

    &:checked {
      background-color: blue;
    }
  }

  &__label {
    color: var(--clr-bg);
    position: absolute;
    top: 23%;
    left: 30%;
    z-index: 3;
  }

  &__input {
    display: block;
    background-color: white;
    z-index: 2;
    position: relative;
    padding: var(--small-spacer) var(--large-spacer);
    transition: 400ms ease;

    &:hover {
      scale: 1.05;
      opacity: 0.75;
    }

    &:checked {
      background-color: blue;
    }
  }

  &__stocks {
    padding: var(--medium-spacer) 0;
    text-align: center;
  }

  &__counter {
    font-size: 1.5rem;
    padding: 0 1em;
    margin-bottom: var(--tiny-spacer);
  }

  &__underline {
    padding-bottom: var(--tiny-spacer);
    border-bottom: 2px solid var(--clr-secondary);
  }

  @media (min-width: 800px) {
    width: 40%;
  }
}

/**************************************/
/******* BOOKING PAGE STYLES *********/
/************************************/

.ticket {
  padding: var(--medium-spacer) 0;
  background-color: var(--clr-gray-dark);
  min-height: 90lvh;

  &__title {
    font-size: 2.5rem;
    margin-bottom: var(--small-spacer);

    &--small {
      font-size: 2rem;
    }
  }

  &__text {
    font-size: 1.5rem;

    &--small {
      font-size: 1.125rem;
    }

    &--expired,
    &--valid {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      padding: var(--tiny-spacer) var(--small-spacer);
      display: inline-block;
    }

    &--expired {
      color: var(--clr-primary);
      background-color: var(--clr-accent);
    }

    &--valid {
      background-color: var(--clr-secondary);
    }
  }

  &__validity {
    display: flex;
    justify-content: flex-end;
  }

  &__wrapper {
    color: var(--clr-bg);
  }

  &__item {
    max-width: 700px;
    padding: var(--small-spacer);
    background-color: var(--clr-primary);
    margin-bottom: var(--small-spacer);
  }

  &__underline {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid var(--clr-secondary);
  }
}

/**************************************/
/*********** FORM STYLES *************/
/************************************/

.forms {
  min-height: 100vh;
  padding: var(--medium-spacer) 0;

  background-color: var(--clr-gray-dark);

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--small-spacer);

    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &.success .forms__input {
      border-color: var(--clr-secondary);
    }

    &.error .forms__input {
      border-color: var(--clr-accent);
    }
  }

  &__label {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: var(--tiny-spacer);

    &-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          background-color: #2196f3;

          &:after {
            display: block;
          }
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
    }

    & .checkmark::after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__input {
    font-size: 1.125rem;
    border: 2px solid lightblue;
    display: block;
    padding: var(--tiny-spacer);

    &:focus {
      outline: 0;
    }
  }

  &__error {
    color: lightgray;
    font-size: 0.9rem;
    height: 1rem;
    text-align: left;
    padding: 0.12em 0;

    &--block {
      text-align: center;
      width: 100%;
      display: block;
    }
  }

  &__button {
    text-align: center;
    font-size: 1.2rem;
    padding: var(--tiny-spacer) var(--small-spacer);
    color: var(--clr-bg);
    background-color: var(--clr-primary);
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  @media (min-width: 800px) {
    &__label,
    &__input {
      width: 60%;
    }
  }

  @media (min-width: 1100px) {
    &__field {
      align-items: center;
    }
  }
}

/**************************************/
/******* SHOW USER STYLES ************/
/************************************/

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;

  background-color: var(--clr-gray-dark);

  &__title {
    font-size: 3rem;
    padding: 0.5em 0;
  }

  &__details {
    display: flex;
  }

  &__text {
    width: 50%;
    color: var(--clr-white);

    &--primary {
      width: 50%;
      color: var(--clr-primary);
      text-align: right;

      &::after {
        content: " -";
        padding-right: 1em;
      }
    }
  }
}

/**************************************/
/*********** ADMIN STYLES ************/
/************************************/

.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90lvh;

  background-color: var(--clr-gray-dark);

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 1em;

    &--medium {
      color: var(--clr-primary);
      width: 50%;
      text-align: right;
      font-size: 1.75rem;

      &::after {
        content: " -";
        margin-right: 1em;
      }
    }
  }

  &__section {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1em;
    // flex-direction: column;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__link {
    &:hover {
      opacity: 0.75;
    }

    &--bg {
      padding: 0.25em 0.5em;
      margin-bottom: 0.25em;
      color: var(--clr-white);
      background-color: var(--clr-accent);
    }
  }

  &__underline {
    border-bottom: 2px solid var(--clr-accent);
  }
}
