:root {
  /* Background Colour */
  --clr-bg: #f5f5f5;
  /* Primary Colours */
  --clr-primary-light: #0000ba;
  --clr-primary-dark: #00006e;
  /* Border Colour */
  --clr-border: #ffd700;
  /* Button Colours */
  --clr-btn-hover: #f6f6f6;
  --clr-btn-natural: #c0c0c0;
  /* Colours */
  --clr-white: #ffffff;
  /* Font - Logo */
  --font-logo: "Audiowide", san-serif;
  /* Font */
  --font-main: "Roboto", san-serif;
  /* Box Shadow */
  --box-shadow: box-shadow: -3px 10px 5px 0px rgba(0,0,0,0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-dark);
  font-family: var(--font-main);
  overflow-x: hidden;
}

.nav {
  display: flex;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-primary-dark);
  border-bottom: 2px solid var(--clr-border);
  padding: 0 1rem;
}
.nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 3.5rem;
  font-family: var(--font-logo);
}
.nav-logo:hover {
  color: var(--clr-white);
}
.nav-menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    top: 5rem;
    gap: 0;
    flex-direction: column;
    background-color: var(--clr-primary-light);
    width: 100%;
    text-align: centre;
    transition: 300ms;
    z-index: 1;
  }
  .nav-menu.active {
    left: 0;
  }
}
.nav-link {
  color: var(--clr-btn-natural);
  transition: 600ms;
}
.nav-link:hover {
  color: var(--clr-btn-hover);
}
.nav-hamburger {
  display: none;
  cursor: pointer;
}
.nav-hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background-color: var(--clr-white);
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .nav-hamburger {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.main {
  width: 100%;
  padding: 0 5%;
}
@media (max-width: 1000px) {
  .main {
    padding: 0.5rem;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
  margin: 2rem;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .heading {
    margin: 1rem;
    margin-bottom: -2rem;
  }
}
.heading-h1 {
  font-size: 4rem;
  padding-bottom: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .heading-h1 {
    font-size: 3rem;
  }
}
.heading-h1-sub {
  position: absolute;
  bottom: -20%;
  left: 50%;
  font-size: 1.4rem;
}
@media screen and (max-width: 1000px) {
  .heading-h1-sub {
    position: absolute;
    bottom: -20%;
    left: 45%;
    font-size: 0.8rem;
  }
}

/***********************/
/**** INDEX STYLES ****/
/*********************/
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.carousel-title {
  max-width: 40%;
  position: absolute;
  top: 10%;
  left: 0;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 2px 2px 3px black;
  color: var(--clr-white);
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .carousel-title {
    top: 0;
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 600px) {
  .carousel-title {
    font-size: 2.5rem;
  }
}
.carousel-img {
  aspect-ratio: 16/9;
  width: 60%;
  height: 100%;
  margin-top: -1px;
  border: 2px solid var(--clr-border);
}
@media screen and (max-width: 768px) {
  .carousel-img {
    aspect-ratio: 16/9;
    width: 100%;
  }
}
.carousel-booking {
  position: absolute;
  text-decoration: none;
  bottom: 0;
  right: 0;
  padding: 1rem 3rem;
  color: var(--clr-white);
  background-color: var(--clr-primary-dark);
  border: 1px solid var(--clr-white);
  border-radius: 1.5rem 0 0 0;
  transition: 600ms;
}
@media (max-width: 1100px) {
  .carousel-booking {
    padding: 1rem 2rem;
  }
}
@media (max-width: 600px) {
  .carousel-booking {
    padding: 0.5rem;
  }
}
.carousel-booking:hover {
  color: var(--clr-white);
  background-color: var(--clr-primary-light);
}
.carousel-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  right: 0;
  color: var(--clr-white);
  font-size: 2rem;
  transition: 500ms;
}
@media (max-width: 600px) {
  .carousel-btns {
    font-size: 1rem;
  }
}
.carousel-btns > * {
  color: var(--clr-btn-natural);
  background-color: var(--clr-primary-dark);
  text-decoration: none;
  border: 1px solid var(--clr-white);
  padding: 0 1.25rem;
  margin: 0.25rem;
  cursor: pointer;
  transition: 600ms;
}
.carousel-btns > *:hover {
  color: var(--clr-btn-hover);
  background-color: var(--clr-primary-light);
}
.carousel-btns-prevBtn {
  border-radius: 1rem 0 0 0;
}
.carousel-btns-nextBtn {
  border-radius: 0 0 1rem 0;
}

.promo {
  background-color: var(--clr-primary-light);
  border-bottom: 2px solid var(--clr-border);
  margin: 3rem -6%;
}
.promo-title {
  color: var(--clr-white);
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .promo-title {
    padding-top: 2rem;
  }
}
.promo-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .promo-container {
    flex-direction: column;
    align-items: center;
  }
}
.promo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--clr-border);
  border-radius: 1.5rem 1.5rem 0 0;
  width: 20%;
  margin: 0 1.5rem;
  margin-bottom: -2px;
}
@media screen and (max-width: 1000px) {
  .promo-card {
    width: 80%;
    margin-top: 1rem;
  }
}
.promo-card-header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--clr-border);
  border-radius: 1.5rem 1.5rem 0 0;
  background-image: url(https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
}
.promo-card-header-title {
  padding: 0.5rem;
  font-size: 2.5rem;
  color: var(--clr-white);
  text-shadow: 2px 2px 3px black;
}
.promo-card-body {
  color: var(--clr-white);
  padding: 0.5rem;
}
.promo-card-body-title {
  padding: 1rem 0;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: var(--clr-white);
}
.promo-card-body-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.promo-card-cta {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--clr-border);
  border-bottom: 1px solid var(--clr-white);
  transition: 600ms;
}
.promo-card-cta:hover {
  color: var(--clr-white);
  border-bottom: 1px solid var(--clr-border);
}

.highlighted {
  color: var(--clr-white);
}
.highlighted-title {
  font-size: 2rem;
  text-align: center;
}
.highlighted-container {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlighted-movie {
  width: 30%;
  margin: 0 1rem;
  position: relative;
  border: 2px solid var(--clr-white);
}
.highlighted-movie-img {
  aspect-ratio: 16/9;
  width: 100%;
}
.highlighted-movie-link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 600ms;
}
.highlighted-movie-link:hover {
  opacity: 1;
}
.highlighted-movie-link a {
  font-size: 2rem;
  color: var(--clr-white);
  text-decoration: none;
}
.highlighted-movie-link a:hover {
  border-bottom: 1px solid var(--clr-border);
}

.article {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-border);
}
.article-header-h3 {
  padding-top: 1.5rem;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-align: center;
}
.article-container {
  display: flex;
}
@media screen and (max-width: 1000px) {
  .article-container {
    flex-direction: column;
    align-items: center;
  }
}
.article-img {
  width: 60%;
  padding: 1rem;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .article-img {
    width: 80%;
    padding: 0;
  }
}
.article-img-stock {
  position: absolute;
  top: -0.2rem;
  right: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-img-stock p {
  background-color: red;
  padding: 1rem;
  border: 1px solid var(--clr-bg);
}
.article-img img {
  aspect-ratio: 16/9;
  width: 100%;
  border: 1px solid var(--clr-bg);
}
.article-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .article-info {
    width: 90%;
  }
}
.article-info-p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.article-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
}
.article-btns-a {
  color: var(--clr-primary-dark);
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--clr-btn-natural);
  border: 1px solid var(--clr-bg);
  padding: 1rem 1.5rem;
  transition: 500ms;
}
.article-btns-a:hover {
  color: var(--clr-primary-dark);
  background-color: var(--clr-btn-hover);
}

.film {
  margin-top: 3rem;
  background-color: var(--clr-primary-light);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--clr-white);
  border: 2px solid var(--clr-border);
}
.film-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-light);
}
.film-info > * {
  width: 80%;
}
@media screen and (max-width: 1000px) {
  .film-info > * {
    width: 100%;
  }
}
.film-info-img {
  aspect-ratio: 16/9;
  height: 100%;
  margin-top: -1px;
  border: 2px solid var(--clr-border);
}
@media screen and (max-width: 1000px) {
  .film-info-img {
    border: none;
  }
}
.film-info-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.film-info-desc {
  padding: 1rem 0;
}
@media screen and (max-width: 1000px) {
  .film-info-desc {
    padding: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .film-info-cta {
    padding: 0 1rem;
  }
}
.film-info-cta p {
  font-size: 1.2rem;
}
.film-info-cta p span {
  font-weight: 700;
  color: var(--clr-border);
  font-size: 1.3rem;
}
.film-reviews {
  display: flex;
  color: var(--clr-primary-dark);
  background-color: var(--clr-bg);
  border-top: 2px solid var(--clr-border);
}
@media screen and (max-width: 768px) {
  .film-reviews {
    flex-direction: column-reverse;
  }
}
.film-reviews-h3 {
  font-size: 2.5rem;
  border-bottom: 1px solid var(--clr-primary-light);
}
.film-reviews-h3 span {
  font-size: 0.9rem;
}
.film-reviews > * {
  width: 50%;
  padding: 2rem;
}
@media screen and (max-width: 1000px) {
  .film-reviews > * {
    width: 100%;
  }
}
.film-reviews-review-container {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-primary-light);
  margin: 1rem 0;
}
.film-reviews-review-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--clr-primary-light);
}
.film-reviews-review-body {
  display: flex;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.film-reviews-review-body p {
  padding: 0.5rem;
  padding-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-h1 {
  color: var(--clr-bg);
  font-size: 2.6rem;
}
.form-container {
  width: 50%;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-border);
}
@media screen and (max-width: 1000px) {
  .form-container {
    width: 80%;
  }
}
.form-field {
  color: var(--clr-white);
  margin: 0.5rem 3rem;
}
.form-label {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.form-btn {
  width: 100%;
  padding: 1rem 0;
  border: 1px solid black;
  background-color: var(--clr-btn-natural);
  transition: 600ms;
}
.form-btn:hover {
  background-color: var(--clr-btn-hover);
  border: none;
}

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-white);
}
.admin-h1 {
  font-size: 3rem;
  text-align: center;
}
.admin-container {
  width: 50%;
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-border);
}
.admin-section {
  padding: 1rem;
}
.admin-section-h3 {
  font-size: 2rem;
  border-bottom: 1px solid var(--clr-bg);
}
.admin-section-a {
  font-size: 1.4rem;
  padding: 0.25rem;
  color: var(--clr-btn-natural);
  text-decoration: none;
  display: block;
  transition: 600ms;
}
.admin-section-a:hover {
  color: var(--clr-white);
}
.admin-section-btn {
  text-decoration: none;
  width: 100%;
  margin-top: 0.25rem;
  border: none;
  background-color: var(--clr-btn-natural);
  transition: 600ms;
}
.admin-section-btn:hover {
  background-color: var(--clr-btn-hover);
}
.admin-section-btn a {
  color: black;
  text-decoration: none;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-h1 {
  font-size: 3rem;
  color: var(--clr-white);
}
.user-info {
  width: 50%;
  padding: 1rem;
  color: var(--clr-white);
  background-color: var(--clr-primary-light);
  border: 1px solid var(--clr-border);
}
.user-info p {
  font-size: 1.4rem;
  letter-spacing: 1px;
}/*# sourceMappingURL=main.css.map */