<% layout('layouts/boilerplate') %>
    <div class="forms">
        <div class="container">
            <form action="/login" method="POST" class="form" novalidate>
                <div class="form__field row__mobile">
                    <label class="form__label" for="username"><span class="form__underline">Username</span></label>
                    <input class="form__input" type="text" id="username" name="username" required>
                </div>
                <div class="form__field row__mobile">
                    <label class="form__label" for="password"><span class="form__underline">Password</span></label>
                    <input class="form__input" type="password" id="password" name="password" required>
                </div>
                <div class="row__mobile row__mobile--end">
                    <button class="form__button">Login</button>
                </div>
            </form>
        </div>
    </div>