<% layout('layouts/boilerplate') %>
    <div class="forms">
        <div class="container">
            <form action="/login" method="POST" id="login-form" novalidate>
                <div class="forms__field">
                    <label class="forms__label" for="username">Username</label>
                    <input class="forms__input" type="text" id="username" name="username" required>
                    <div class="forms__error"></div>
                </div>
                <div class="forms__field">
                    <label class="forms__label" for="password">Password</label>
                    <input class="forms__input" type="password" id="password" name="password" required>
                    <div class="forms__error"></div>
                </div>
                <div class="forms__field">
                    <button class="forms__button">Login</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/formValidation/login.js"></script>