<% layout('layouts/boilerplate') %>

    <div class="forms">
        <div class="container">
            <form action="/register" method="POST" id="register-form" novalidate>
                <div class="forms__field">
                    <label class="forms__label" for="firstname">First Name</label>
                    <input class="forms__input" type="text" id="firstname" name="firstname" min="1" max="50" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="lastname">Last Name</label>
                    <input class="forms__input" type="text" id="lastname" name="lastname" min="1" max="50" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="username">Username</label>
                    <input class="forms__input" type="text" id="username" name="username" min="4" max="15" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="email">Email</label>
                    <input class="forms__input" type="email" id="email" name="email" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="age">Age</label>
                    <input class="forms__input" type="date" id="age" name="age" required>
                    <div class="forms__error"></div>
                </div>


                <div class="forms__field">
                    <label class="forms__label" for="password">Password</label>
                    <input class="forms__input" type="password" id="password" name="password" min="8" max="20" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="repeatpassword">Repeat Password</label>
                    <input class="forms__input" type="password" id="repeatpassword" name="repeatpassword" min="8"
                        max="20" required>
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <label class="forms__label" for="isAdmin">Admin Account</span></label>
                    <input class="forms__checkbox" type="checkbox" name="isAdmin" id="isAdmin">
                    <div class="forms__error"></div>
                </div>

                <div class="forms__field">
                    <button class="forms__button">Register</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/js/formValidation/register.js"></script>